@import url(http://fonts.googleapis.com/css?family=Lora:700,400italic,700italic);

body {
    font-size: 0.1666in;
}

h1, h2, h3, h4 {
    font-weight: bold;
    font-family: Lora;
}
h1 {
    font-size: 2.37em;
    font-style: italic;
    font-weight: normal;
}
h2 {
    font-style: italic;
    font-size: 1.77em;
    margin-bottom: .5625em;
}
h3 {
    font-style: italic;
    font-weight: normal;
    font-size: 1.25em;
}

table th {
    padding: 0.33em 0.5em;
    font-weight: bold;
}

table td {
    padding: 0.33em 0.5em;
}

table thead {
    border-bottom: 1px solid #989898;
}

paper-button {
    border: 1px solid #d3d3d3;
    border-radius: 2px;
}

clickable-behaviour {
    width: auto;
    height: auto;
}
