@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

.canvasRoot {
    line-height: 1.5;
    font-family: 'Source Sans Pro';
    color: #222;
}

.canvasRoot h1,
.canvasRoot h2,
.canvasRoot h3 {
    font-weight: bold;
    font-family: 'Fira Sans';
}

.canvasRoot h1 {
    font-size: 2.37em;
}
.canvasRoot h2 {
    font-size: 1.77em;
    margin-bottom: .5625em;
}
.canvasRoot h3 {
    font-style: italic;
    font-weight: normal;
    font-size: 1.25em;
}

.canvasRoot table th {
    padding: 0.1em 0.5em;
    font-weight: bold;
}

.canvasRoot table td {
    padding: 0.1em 0.5em;
}

.canvasRoot table thead {
    border-bottom: 1px solid #989898;
}

.canvasRoot paper-button {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.canvasRoot paper-slider {
    width: 100%;
}

