
.canvasRoot table th {
    padding: 0.1em 0.5em;
    font-weight: bold;
}

.canvasRoot table td {
    padding: 0.1em 0.5em;
}

.canvasRoot table thead {
    border-bottom: 1px solid #989898;
}

.canvasRoot paper-button {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.canvasRoot paper-slider {
    width: 100%;
}

