@import url(http://fonts.googleapis.com/css?family=RobotoDraft:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
    line-height: 1.5;
    font-family: RobotoDraft;
    color: #212121;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;  /* guessed */
    text-indent: -0.074em;
}

.font-serif {
    font-family: Merriweather;
}

.font-sansserif {
    font-family: 'Source Sans Pro';
}

.font-monospace {
    font-family: monospace;
}

.font-sansserif.font-weight-bold,
.font-sansserif.font-weight-heavy,
.font-sansserif.font-weight-fat {
    font-family: 'Fira Sans';
}

.font-uppercase { text-transform: uppercase; }

.font-lowercase { text-transform: lowercase; }

.font-xx-small { font-size: xx-small; }
.font-x-small { font-size: x-small; }
.font-small { font-size: small; }
.font-medium { font-size: medium; }
.font-large { font-size: large; }
.font-x-large { font-size: x-large; }
.font-xx-large { font-size: xx-large; }

.font-bold { font-weight: bold; }
.font-bolder { font-weight: bolder; }
.font-lighter {font-weight: lighter; }

.font-italic { font-style: italic; }

/* Material design */
/* This was adapted from https://github.com/nevir/paper-theme-experiment/blob/master/global/typography.html */

.font-display-4 {
  color: #757575;
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -.044em;
  line-height: 120px;  /* guessed */
  text-indent: -0.089em;
  text-rendering: optimizeLegibility;
}

.font-display-3 {
  color: #757575;
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -.026em;
  line-height: 60px;  /* guessed */
  text-indent: -0.082em;
  text-rendering: optimizeLegibility;
}

.font-display-2 {
  color: #757575;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -.018em;
  line-height: 48px;
  text-indent: -0.08em;
  text-rendering: optimizeLegibility;
}

.font-display-1 {
  color: #757575;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -.01em;
  line-height: 40px;
  text-indent: -0.08em;
  text-rendering: optimizeLegibility;
}

.font-headline {
  color: #212121;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -.012em;
  line-height: 32px;
  text-indent: -0.078em;
  text-rendering: optimizeLegibility;
}

.font-title {
  color: #212121;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;  /* guessed */
  text-indent: -0.07em;
  text-rendering: optimizeLegibility;
}

.font-subhead {
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;  /* guessed */
  text-indent: -0.068em;
  text-rendering: optimizeLegibility;
}

.font-body-2 {
  color: #212121;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;  /* guessed */
  text-indent: -0.068em;
}

.font-body-1 {
  color: #212121;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;  /* guessed */
  text-indent: -0.074em;
}

.font-caption {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.011em;
  line-height: 20px;  /* guessed */
  text-indent: -0.04em;
}

.font-menu {
  color: #212121;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;  /* guessed */
  text-indent: -0.068em;
}

paper-button {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;  /* guessed */
  text-indent: -0.068em;
  text-transform: uppercase;
}
