@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic|Crimson+Text:400,400italic,600,600italic,700,700italic);

body {
    line-height: 1.5;
    color: #222;
    font-family: 'Source Sans Pro';
}

h1,
h2,
h3 {
    font-weight: bold;
    font-family: 'Fira Sans';
}

h1 {
    font-size: 2.37em;
}
h2 {
    font-size: 1.77em;
    margin-bottom: .5625em;
}
h3 {
    font-style: italic;
    font-weight: normal;
    font-size: 1.25em;
}

.font-serif {
    font-family: Merriweather;
}

.font-sansserif {
    font-family: 'Source Sans Pro';
}

.font-monospace {
    font-family: monospace;
}

.font-sansserif.font-weight-bold,
.font-sansserif.font-weight-heavy,
.font-sansserif.font-weight-fat {
    font-family: 'Fira Sans';
}

.font-uppercase { text-transform: uppercase; }

.font-lowercase { text-transform: lowercase; }

.font-xx-small { font-size: xx-small; }
.font-x-small { font-size: x-small; }
.font-small { font-size: small; }
.font-medium { font-size: medium; }
.font-large { font-size: large; }
.font-x-large { font-size: x-large; }
.font-xx-large { font-size: xx-large; }

.font-bold { font-weight: bold; }
.font-bolder { font-weight: bolder; }
.font-lighter {font-weight: lighter; }

.font-italic { font-style: italic; }
